html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.bg_dark {
  background-color: #12002b;
}

.sr_only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.main_nav a {
  font-weight: bold;
  color: #2c3e50;
}

.main_nav a.router_link_exact_active {
  color: #42b983;
}

.main_nav_item {
  text-decoration: none;
  margin-right: 0.5rem;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 16px;
}
.main_nav_item_button {
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  cursor: pointer;
  color: #2c3e50;
  svg {
    height: 22px;
    width: 22px;
  }
}

.main_nav_item:hover {
  text-decoration: underline;
}

.main_nav_logo {
  display: flex;
  align-items: center;
}

.main_nav_logo_image {
  max-width: 100%;
  width: 200px;
}

.hero {
  background-image: url("/images/bank-tree.jpeg");
  background-position: 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}

.hero_content {
  position: relative;
  top: 2rem;
  width: 200px;
  background: white;
  padding: 2rem;
  text-align: left;
  margin: 0 auto;
}

.hero_content .subtitle {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

.hero_content .text {
  margin-bottom: 0;
  font-size: 0.9rem;
}

@media (min-width: 920px) {
  .hero {
    height: 400px;
    background-position: 0% 33%;
  }

  .hero_content {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    margin: 2rem;
  }

  .hero_content .subtitle {
    font-size: 1.5rem;
  }

  .hero_content .text {
    font-size: 1.2rem;
  }
}

.features {
  display: flex;
  flex-direction: column;
}

@media (min-width: 920px) {
  .features {
    flex-direction: row;
  }
}

.feature—icon {
  width: 100px;
  border: 10px solid #00bc77;
  border-radius: 50%;
  padding: 1rem;
}

.feature_item {
  flex: 1;
  padding: 2.5rem;
}

.feature_item_title {
  color: #222;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.sign_in_button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}

.sign_in_content {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
}

.sign_in_icon {
  font-size: 5rem;
}

.input_remember {
  display: flex;
}

.input_remember label {
  margin-left: 0.25rem;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}

.input_wrapper label {
  font-weight: bold;
}

.input_wrapper input {
  padding: 5px;
  font-size: 1.2rem;
}

.footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid #ccc;
  padding: 2rem 0 1.5rem;
}

.footer_text {
  margin: 0;
  padding: 0;
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;
}

.account_amount {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.account_amount_description {
  margin: 0;
}

.account_title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}

.account_content_wrapper {
  width: 100%;
  flex: 1;
}

.edit_button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.header {
  color: #fff;
  margin-bottom: 2rem;
}

.transaction_button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}

@media (min-width: 720px) {
  .account {
    flex-direction: row;
  }

  .account_content_wrapper.cta {
    flex: 0;
  }

  .transaction_button {
    width: 200px;
  }
}

.width100 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  gap: 8px;
  padding: 24px;
  width: 50%;
}

.errorMsg {
  color: red;
  font-size: 0.9rem;
  font-weight: bold;
}
